/* styles */

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: sans-serif;
}

.header {
    background-color: #1F2937;
    color: #F9FAF8;
    font-weight: 600;
    font-size: 24px;
    display: flex;
    align-items: center;
    padding: 16px;
    justify-content: space-between;
}

.right-links {
    color: #E5E7EB;
    font-size: 18px;
    display: flex;
    gap: 16px;
    list-style-type: none;
    font-weight: 100;
}

.mainone {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    color: #F9FAF8;
    padding: 16px;
}

.title {
    font-size: 48px;
    font-weight: bolder;
}

.subtitle {
    color: #E5E7EB;
    font-size: 18px;
    font-weight: 100;
    padding: 10px 0;
}

.left {
    flex: 1;
}

.right {
    flex: 1;

}

.img {
    align-self: center;
    background-color: grey;
    /* padding: 20px 40px; */
    border-image-width: auto;
    border-radius: 10px;
    margin-left: 20px;
    width: 300px;
    
}

button {
    padding: 8px 32px;
    border-radius: 10px;  
    border: none;
}

button.button {
    background: #3882F6;
    color: #F9FAF8;
    font-weight: bold;
}

.maintwo {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
  
.hello {
    color: #1F2937;
    font-size: 36px;
    font-weight: bolder;
    align-self: center;
    padding: 20px;
    justify-content: center;
}
  
.container {
    display: flex;
    justify-content: center;
    gap: 32px;
    margin-bottom: 50px;
    padding: 10px;
    
}

.data {
    border: 5px solid #3882F6;
    padding: 32px 32px;
    border-radius: 10px;
    justify-content: center;
    flex: 1;
    width: 150px;  
}

.subtext {
    text-align: center;
    color: grey;
    justify-content: center;
    flex-wrap: wrap;
    flex: 1;
    max-width: 214px;
    margin-left: 5px;
}

.mainthree {
    background-color: #E5E7EB;
    padding: 50px 80px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    text-align: left;
}

.thor {
    font-size: 18px;
    font-weight: 900;
    color: #1F2937;
    text-align: end;
}

.mainfour {
    padding: 50px 80px;
    background-color: #3882F6;
    color: #F9FAF8;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 50px solid white;
    border-radius: 60px;

}
.division {
    display: flex;
    flex-direction: column;

}

.action {
    font-size: 24px;
    font-weight: bold;
}

.sign {
    font-size: 18px;
    color: #E5E7EB;
}    

.button2 {
    padding: 8px 24px;
    border-radius: 10px;
    background: #3882F6;
    color: #F9FAF8;
    font-weight: bold;
    border: 2px solid white;
    font-size: 20px;
}

.footer {
    background-color: #1F2937;
    color:#F9FAF8;
    text-align: center;
    padding: 30px 0px;
}